/node_modules
/elastic/*
/public/hot
/public/storage
/public/vendor/*
/public/mix-manifest.json
/resources/lang/*.json
/storage/*.key
/vendor
/.idea
/.buildpath
/.project
/.settings/
.env
.env.backup
.phpunit.result.cache
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
