.table .table-col-shrink {
    width: 0.1%;
    white-space: nowrap;
}

body.modal-open > .page {
}
.modal-dialog {
    box-shadow: 0px 6px 8px rgb(4 4 7 / 10%);
}

.table tr.parent {
    -webkit-animation: none;
    animation: none;
}

.side-menu .side-menu__item .side-menu__icon {
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.tloader {
    border: 10px solid rgba(243, 243, 243, .5);
    border-top: 10px solid rgba(66, 196, 138, .8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.calc-row-btn:hover {
    color: #42c48a;
}