.logo img {height:40px;}
.topHeader .topHeader__menu .topHeader__container .topHeader__nav>ul>li.logo a::before {background-color: #fff;}
/*ul.dropdown li{ position: relative;}*/
.submenu { position: absolute; left: 260px; top: -100px; background-color: #fff; box-shadow: 0 4px 10px 0px rgba(0, 0, 0, .2);}

.topHeader .topHeader__menu .topHeader__container .topHeader__nav>ul>li ul.dropdown li { height: auto; }
.topHeader .topHeader__menu .topHeader__container .topHeader__nav>ul>li ul.dropdown { width: auto; }
.categoryPost.noPostThumb .categoryPost__content .categoryPost__title {font-size: 20px;}
.featuredPostArea .gridWrapper .gridSmall article h5, .h6, h6, p {font-size: 16px;}
.h3, h3 {font-size: 18px;}
.h4, h4 {font-size: 16px;}
/*ul.dropdown ul.submenu {display: none;}*/
.row { margin-left: 0px; }
.langselector {
    border: none;
    font-size: 18px;
}
article {
    height: 100%; padding: 35px 30px;
}

article h3{
    margin-top: 0px;
}

article a {
    text-decoration: none;
}


article footer a {
    font-size: 14px;
}

article .categoryPost__author_category {
    font-size: 12px;
}


nav {
    display: block;
    text-align: left;
}
nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.nav a {
    display:block;
    background: #fff;
    color: #80819f;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    font-size: 17px;
}
.nav{
    vertical-align: middle;
    display: inline-block;
    box-shadow:
        1px -1px -1px 1px #000,
        -1px 1px -1px 1px #fff,
        0 0 6px 3px #fff;
    border-radius:4px;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-bottom: 4px #fff solid;
    margin-right: 1px;
}
.nav > li > a {
    margin-bottom: 1px;
}

.nav li:hover > a {
    color: #3197d6;
}
.nav ul {
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    left: -99999em;
}

.nav > li:hover > ul {
    left: auto;
    min-width: 100%;
}
.nav > li li:hover > ul {
    left: 100%;
    margin-left: 1px;
    top: -1px;
}


.nav ul {
    padding: 0.2em 1.8em 0.8em 1.8em;
}
.nav li ul {
    background-color: #fff;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, .2);
}
.nav ul li {
    border-bottom: solid 2px #fff;
}
.nav ul li a {
    padding: 0.2em 0em;
}
.nav ul li:hover {
    border-bottom: solid 2px #3197d6;
    -webkit-transition: .2s;
    transition: .2s;
}
.topHeader .topHeader__menu .topHeader__container .topHeader__nav > ul  ul.nav li a {
    padding: 4px 0px !important;
}

.breadcrumb {
    display:  block;;
    width: 100%;
    background-color: #fff;
    font-family: "Playfair Display";
    font-weight: bold;
    padding: 10px 15px;
}

.breadcrumb a {
    color: #337AB7;
}
.breadcrumb a:hover{
    text-decoration: none;
}
